{% extends 'base.html' %}

{% block title %} Social App {% endblock %}

{% block content %}
<a href="{% url 'author_list' %}" class="btn btn-primary">Authors</a>
<a href="{% url 'publisher_list' %}" class="btn btn-primary">Publishers</a>
  <div class="row container">
    {% for book in book_list %}
      <div class="col-sm-6 p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ book.name }}</h5>
            <p class="card-text">Created by:{{ book.author.name }}</p>
            <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">See book details</a>
          </div>
          <div class="card-footer text-muted">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
