{% extends 'base.html' %}

{% block title %} BookStore {% endblock %}

{% block content %}
  <div class="row container">
    {% for publisher in publisher_list %}
      <div class="col-sm-6 p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{publisher.name }}</h5>
            <p class="card-text">PhoneNumber: {{publisher.contactPhone}}</a></p>
          </div>
          <div class="card-footer text-muted">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
